<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Login / Sign Up Form</title>
    <link rel="shortcut icon" href="/assets/favicon.ico">
    <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>
    <h1>This is the Secret Page<h1>
    <form action = "/logout" method="POST">
        <button>Sign Out</button>
    </form>

    
</body>
</html>